/* Tab.css */
.tabs-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  background-color: #fec653;
  color: #2c0e3a;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tab.active-tab {
  background-color: #cf60c8;
  color: #ffffff;
}
